/* DEFAULTS
----------------------------------------------------------*/
body   
{
    background:#b4c6da;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    width:956;
    text-align:center;
}
.background
{
    width:936px;
    height:384px;
    background:#20151b;
    background-image: url('../images/background.jpg');
    background-repeat:repeat-x;
    margin:10px auto;
}
.backtoShowtimes
{
    position:relative;
    float:left;
    height:40px;
    margin:10px 0px 10px 0px;
    
        
}
.currentdate
{
    position:relative;
    float:left;
    background-image: url('../images/dl_date_selected.gif');    
    height:40px;
    border: 1px solid #666666;
    width:60px;
    text-align:center;
    font-size:.8em;
    font-weight:bold;
    text-align:center;  
}
#date
{
    font-size:.8em;
    font-weight:bold;
    text-align:center;   
}
.date
{
    position:relative;
    float:left;
    background-image: url('../images/dl_date.gif');    
    height:40px;
    border: 1px solid #666666;
    width:60px;
    text-align:center;
    font-size:.8em;
    font-weight:bold;
    text-align:center;  
}
.header
{
    position:relative;
    float:left;
    width:920px;
    height:374px;
    margin:10px;
}
.header_left
{
    position:relative;
    float:left;
    width:460px; 
    font-size:1.7em;
    font-weight:bold; 
    text-align:left;  
}
.header_right
{
    position:relative;
    float:left;
    width:460;
    font-size:1.3em;
    font-weight:bold;
    text-align:center;

}

.largeStill
{
    position:relative;
    float:left;
    width:457px;
    height:304px;
    border:1px solid #666666;
        
}
.main
{
    position:relative;
    float:left;
    height:324px;
    width:936px;  
    margin:10px;  
}
.moreDates 
{
    position:relative;
    float:left;
    background-image: url('../images/dl_date.gif');    
    height:40px;
    border: 1px solid #666666;
    width:100px;
    text-align:center;
    font-size:.8em;
    font-weight:bold;
    text-align:center;  
}
.moreDates a
{
    position:relative;
    float:left;
    background:black;  
    height:15px;
    width:100px;
    text-align:center;
    font-size:.8em;
    font-weight:bold;
    text-align:center; 
    color:#FFFFFF; 
}
.moreDates:hover
{
    position:relative;
    float:left;
    background-image: url('../images/dl_date.gif');    
    height:40px;
    border: 1px solid #666666;
    width:100px;
    text-align:center;
    font-size:.8em;
    font-weight:bold;
    text-align:center;  
}
.moreInfoPng
{
    position:absolute;
	height:304px;
    width:457px;	
    left: 0;
    top: 0;
    z-index: 100;
}
.movieActors
{
    margin-left:10px;
    margin-top:10px;
    font-size:1.0em;
    font-weight:bold;
}
.movieImages
{
    position:relative;
    float:left;
    text-align:center;
    width:409px;    
    height:80px;
    margin-top:10px;
}
.border
{
    border: 1px solid #666666;    
}
.movieInfo
{
    position:relative;
    float:right; 
    margin: 10px 10px 0px 0px;
}
.movieLittle
{
    position:relative;
    float:left;
    border:1px solid #666666;
    vertical-align:middle;
    text-align:left;
    margin:7px 10px 7px 10px;
    width:118px;
    height:78px;
}
.movieText
{
    font-size:0.9em; 
    font-weight:bold;
}
.movieTextInfo
{
    margin-left:10px;
    margin-top:10px;
}
.movieTimes
{
    margin-top:10px;
    margin-left:10px;
    font-size:1.0em; 
    font-weight:bold;
    
}
.movieTitle
{
    font-size:1.1em;
    font-weight:bold; 
}
.movieTitleInfo
{
    margin-left:10px;
    margin-top:10px;
    font-size:1.4em;  
    font-weight:bold;
}
.next a
{
    position:relative;
    float:right;    
    text-decoration:none;
    color: white;
    font-weight:bold;
}
.nodecoration
{
    color:White;
    text-decoration:none;
}

.popdates
{
    border:1px solid #FFF;
    margin:0px 0px 0px 2px;
    padding:2px 2px 2px 2px;
    background-color:Black;
    width:auto;
    position:relative;
    float:left;
    height:100;
    top:0;
    left:0;
    z-index:100;
    display:none;
    color:#FFFFFF;
}
.popdates a
{
    color:#FFFFFF;
}
.popdates a:hover
{
    color:#FFFFFF;
}

.popdates:hover
{
    color:#FFFFFF;
}
.previous a
{
    position:relative;
    float:right;
    text-decoration:none;
    color: white;
    font-weight:bold;
}
.rightInfo
{
    
    background:#3d5f7d;
    position:relative;
    float:left;
    border:1px solid #666666;
    background-image: url('../images/details_background.gif');
    background-repeat:repeat-x;
    width:409px;
    margin:0px 10px 10px 10px;
    text-align:left;
    vertical-align:middle;
}
.rightList
{
    
    background:#103452;
    position:relative;
    float:left;
    border:1px solid #666666;
    background-image: url('../images/list_background.gif');
    background-repeat:repeat-x;
    width:409px;
    height:94px;
    margin:0px 10px 10px 10px;
    text-align:left;
    vertical-align:middle;
}
.rightListSelected
{
    
    background:#3e5f7d;
    position:relative;
    float:left;
    border:1px solid #666666;
    background-image: url('../images/list_background_selected.gif');
    background-repeat:repeat-x;
    width:409px;
    height:94px;
    margin:0px 10px 10px 10px;
    text-align:left;
    vertical-align:middle;
}
.scroll-pane
{
    position:relative;
    float:left;
	width: 439px;
	height: 304px;	
	overflow: auto;
}
.showtimes
{
    position:relative;
    float:left;
    width:109px;    
}